
 *{
        margin:none;
        padding:none;
      }

      body,html{
        height: 100%;
        margin:none;
        padding: none;
        background-color: #fbfcfc;
      }

.tableUI{
    
    overflow: auto;
    height: 500px;
    
}

aside{
    
    background-color: #34495e;
}
ul{
    list-style: none;
}
input[type="number"],
input[type="text"],
input[type="date"]{
    background-color: rgb(179, 179, 179);
    -moz-appearance: textfield;
    border-radius: 10px;
}

input[type="submit"]{
    background-color: brown;
}
.asideBTN{
    display: none;
}
i{
  color: #fbfcfc;
  
}

.div{
  border:2px solid red;
  width: 30%;
}
.button{
  background-color: transparent;
  border:none ;
}

.button:hover{
background-color: #2e4053;
border-radius: 100%;
padding: 10px;
}